data_dir/test/dialogues_act_test.txt
data_dir/test/dialogues_emotion_test.txt
data_dir/test/dialogues_test.txt
data_dir/train/dialogues_act_train.txt
data_dir/train/dialogues_emotion_train.txt
data_dir/train/dialogues_train.txt
data_dir/validation/dialogues_act_validation.txt
data_dir/validation/dialogues_emotion_validation.txt
data_dir/validation/dialogues_validation.txt
